<p>
  <strong>Dia:</strong>
  <%= @horario.dia %>
</p>
<p>
  <strong>Periodo:</strong>
  <%= @horario.periodo %>
</p>
<p>
  <strong>Hora Inicio:</strong>
  <%= @horario.hora_inicio %>
</p>
<p>
  <strong>Hora Termino:</strong>
  <%= @horario.hora_termino %>
</p>