<!-- Main content -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

<div class="box">

  <!-- /.box-header -->
  <div class="box-body">
    <div class="right_col" role="main">
      <div class="">
        <div class="">
          <div class="">
            <div class="x_panel">
              <div class="x_title">
                <h2>Bienvenidos<small></small></h2>
                <div class="clearfix"></div>
              </div>

              <div class="row top_tiles">
                <div class="animated flipInY col-lg-6 col-md-3 col-sm-6 col-xs-12">
                  <div class="tile-stats">
                    <div class="icon"><i style="padding-top:30px;" class="fa fa-user" ></i></div>
                    <div class="count"></div>
                    <h3>Total Choferes</h3>

                  </div>
                </div>
                <div class="animated flipInY col-lg-6 col-md-3 col-sm-6 col-xs-12">
                  <div class="tile-stats">
                    <div class="icon"><i style="padding-top:30px;" class="fa fa-bus"></i></div>
                    <div class="count"></div>
                    <h3>Total Buses</h3>

                  </div>
                </div>
                <div class="animated flipInY col-lg-6 col-md-3 col-sm-6 col-xs-12">
                  <div class="tile-stats">
                    <div class="icon"><i style="padding-top:30px;" class="fa fa-university"></i></div>
                    <div class="count">179</div>
                    <h3>Total Empresas</h3>

                  </div>
                </div>
                <div class="animated flipInY col-lg-6 col-md-3 col-sm-6 col-xs-12">
                  <div class="tile-stats">
                    <div class="icon"><i style="padding-top:30px;" class="fa fa-calendar"></i></div>
                    <div class="count">179</div>
                    <h3>Total Asignaciones</h3>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->
</div>
<!-- /.col -->
</div>
<!-- /.row -->
</section>
<!-- /.content -->
</div>

